.product-label {
  position: relative;
}

.new-box, .bestseller-box {
  left: -4px;
}

.promotion-box, .recommend-box {
  right: -5px;
}

.new-box, .promotion-box, .bestseller-box, .recommend-box {
  position: absolute;
  top: -4px;
  overflow: hidden;
  height: 85px;
  width: 85px;
  text-align: center;
  z-index: 0;
}

.promotion-label {
  background: #2dca71;
}

.recommend-label {
  background: #8B4513;
}

.promotion-label, .recommend-label {
  font: 700 14px/12px Arial,Helvetica,sans-serif;
  color: #fff;
  /* background: #2dca71; */
  text-transform: uppercase;
  padding: 9px 0 7px;
  text-shadow: 1px 1px rgba(0,0,0,0.24);
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  right: -33px;
  top: 16px;
  z-index: 1;
  /* -webkit-transform: rotate(45deg); */
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.new-label {
  background: #6ad4ff;
}

.bestseller-label {
  background: #f13340;
}
/*#2dca71*/

.new-label, .bestseller-label {
  font: 700 14px/12px Arial,Helvetica,sans-serif;
  color: #fff;
  /*background: #2dca71;*/
  text-transform: uppercase;
  padding: 9px 0 7px;
  text-shadow: 1px 1px rgba(0,0,0,0.24);
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  left: -33px;
  top: 16px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
