@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Lato:400,700&amp;subset=latin-ext';

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.app-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ANGULAR */
div[ng-reflect-router-link] {
    cursor: pointer;
}

/* TEXT COLORS */
.text-danger {
    color: red;
}

.text-gray {
    color: gray;
}

/* CONTROLS */

.input-text {
    max-width:500px;
    width: 100%;
    line-height:3em;
    font-family: inherit;
    margin:1em 0em;
    border-radius:5px;
    border:1px solid #d4d4d4;
    outline:none;
    padding-left:10px;
  }

  .input-text-small {
    max-width:500px;
    width: 100%;
    line-height:2em;
    font-family: inherit;
    margin:1em 0em;
    border-radius:5px;
    border:1px solid #d4d4d4;
    outline:none;
    padding-left:10px;
  }

.label {
    line-height:3em;
    font-family: inherit;
    margin:1em 0em;
    outline:none;
}

.label-small {
    line-height:2em;
    font-family: inherit;
    margin:1em 0em;
    outline:none;
}

.btn-submit {
    height:40px;
    min-width:100px;
    background:#2dca71;
    border:1px solid #d4d4d4;
    color: white;
    text-transform:uppercase;
    font-family: inherit;
    cursor:pointer;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.back-button {
 color: #2dca71;
 cursor: pointer;  
 display: inline-block;
 outline:none;
}

@media only screen and (max-width:1680px ) {
    .app-container {
        width: 70%;
    }
}

@media only screen and (max-width:1281px ) {
    .app-container {
        width: 90%;
    }
}

@media only screen and (max-width: 1025px) {
    .app-container {
        width: 90%;
    }
}

@media only screen and (max-width: 801px) {

    .app-container {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .app-container {
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    .app-container {
        width: 90%;
    }

    img {
        width: 100%;
        height: auto;
    }

    input {
        width: 100%;
        height: auto;
    }
}