<div>
    <div class="product-label">
      <a [routerLink]="['/sklep', product.categorySlug, product.subcategorySlug, product.slug]">
        <img class="product-image" src="assets/images/products/yerba/{{product.image}}">
      </a>
      <a *ngIf="product.state == productState.Bestseller" class="bestseller-box" [routerLink]="['/sklep', product.categorySlug, product.subcategorySlug, product.slug]">
        <span class="bestseller-label">BESTSELLER</span>
      </a>
      <a *ngIf="product.state == productState.New" class="new-box" [routerLink]="['/sklep', product.categorySlug, product.subcategorySlug, product.slug]">
        <span class="new-label">Nowość</span>
      </a>
      <a *ngIf="product.state == productState.Promotion" class="promotion-box" [routerLink]="['/sklep', product.categorySlug, product.subcategorySlug, product.slug]">
        <span class="promotion-label">Promocja</span>
      </a>
    </div>
    <div class="subwrapper-product-tile">
      <a class="product-title" [routerLink]="['/sklep', product.categorySlug, product.subcategorySlug, product.slug]">
        {{product.name}}
      </a>
      <div class="product-price">
        {{ product.price.toFixed(2) }} zł
      </div>
      <div *ngIf="product.state == productState.Promotion && product.price != product.oldPrice" class="product-old-price">
        {{ product.oldPrice.toFixed(2) }} zł
      </div>
      <form [formGroup]="cartForm" (ngSubmit)="add()" class="product-basket">
        <input type="hidden" formControlName="id">
        <input class="product-add-cart" type="submit" value="Do koszyka">
      </form>
    </div>
</div>