<div class="footer">
    <div class="app-container">
        <div class="wrapper-footer">
            <div class="newsletter-footer">
                <input class="footer-toggle" type="checkbox" id="checkbox-newsletter-footer" />
                <label for="checkbox-newsletter-footer" class="title-subfooter">NEWSLETTER <i class="icon-plus-circled"></i></label>
                <div class="footer-section-content">
                    <p>Podaj nam swój email aby otrzymywać informacje o nowościach i promocjach.</p>

                    <input name="data[Subscriber][email]" type="text" placeholder="Twój email" maxlength="128" id="SubscriberEmail">
                    <input type="submit" value="Zapisz">

                    <p>Copyright © 2020 <a style="color: deepskyblue" href="http://www.woytech.net">WoyTech.net</a></p>
                </div>
            </div>
            <div class="informations-footer">
                <input class="footer-toggle" type="checkbox" id="checkbox-informations-footer" />
                <label for="checkbox-informations-footer" class="title-subfooter">INFORMACJE<i class="icon-plus-circled"></i></label>
                <div class="footer-section-content">
                    <ul class="links-footer">
                        <li><a href="#">Regulamin sklepu</a></li>
                        <li><a href="#">Kontakt z nami</a></li>
                        <li><a href="#">O nas</a></li>
                    </ul>
                </div>
            </div>
            <div class="help-footer">
                <input class="footer-toggle" type="checkbox" id="checkbox-title-subfooter" />
                <label for="checkbox-title-subfooter" class="title-subfooter">POMOC<i class="icon-plus-circled"></i></label>
                <div class="footer-section-content">
                    <ul class="links-footer">
                        <li><a href="#">Dostawa i płatność</a></li>
                        <li><a href="#">Zwroty i reklamacje</a></li>
                        <li><a href="#">Program lojalnościowy</a></li>
                    </ul>
                </div>
            </div>
            <div class="account-footer">
                <input class="footer-toggle" type="checkbox" id="checkbox-account-footer" />
                <label for="checkbox-account-footer" class="title-subfooter">TWOJE KONTO<i class="icon-plus-circled"></i></label>
                <div class="footer-section-content">
                    <ul class="links-footer">
                        <li><a href="#">Twoje konto</a></li>
                        <li><a href="#">Twoje zamówienia</a></li>
                        <li><a href="#">Rejestracja</a></li>
                        <li><a href="#">Logowanie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>