<div class="wrapper-slider">
    <div class="slider slide-fade">
        <div class="slides slide-fade">
            <a [routerLink]="['/sklep', 'zestawy', 'startowe', 'zestaw-yerba-mate-amanda-roja']">
                <img id="first-slide-home" src="assets/images/common/slider1.jpg" />
            </a>
        </div>
        <!-- <div class="slides slide-fade">
            <a href="/sklep/yerba-mate/ekologiczne/yerba-mate-amanda-organica-500g">
                <img src="assets/images/common/slider2.jpg" />
            </a>
        </div>
        <div class="slides slide-fade">
            <img src="assets/images/common/slider3.jpg" />
        </div> -->
    </div>
    <div class="top-image">
        <img src="assets/images/common/top-image.jpg" />
    </div>
    <div class="bottom-image">
        <img src="assets/images/common/bottom-image.jpg" />
    </div>
</div>



