<div class="grid">
  <div class="grid-area-center">
      <h2 class="text-center">Zaloguj się</h2>
      <form #loginForm="ngForm" (ngSubmit)="login()" class="subgrid-col-1 grid-items-center">      
        <input type="text" name="email" placeholder="E-mail" required [(ngModel)]="model.email" class="input-text">
        <input type="password" name="password" placeholder="Hasło" required [(ngModel)]="model.password" class="input-text">
        <input type="submit" class="btn-submit" value="Zaloguj"/>
      </form>  

      <br>
      <h4><span>LUB</span></h4>
      <br>

      <div class="subgrid-social-login grid-items-center">
        <button (click)="loginWithSocial('FACEBOOK')" class="loginBtn loginBtn--facebook grid-item-right">
          Zaloguj przez Facebook
        </button> 
        <button (click)="loginWithSocial('GOOGLE')" class="loginBtn loginBtn--google grid-item-left">
          Zaloguj przez Google
        </button>
      </div>
  </div>
</div>
