.grid-order-history-table {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px 0px;
}

.grid-item-full-row {
  grid-column: 1 / 13;
  border: 1px solid #ebebeb;
}

.grid-area-center-column {
  justify-self: center;
}

.grid-area-center-row {
  align-self: center;
}

.grid-area-center-cell {
  justify-self: center;
  align-self: center;
}

.ignore-subgrid {
  display: contents;
  cursor: pointer;
}

.grid-item-number { grid-column: 1 / 3; }
.grid-item-images { grid-column: 3 / 7; }
.grid-item-date { grid-column: 7 / 10; }
.grid-item-value { grid-column: 10 / 12; }
.grid-item-status { grid-column: 12 / 13; }

.grid-item-images img {
  height: 80px;
}

.grid-item-number-data {
  font-size: 125%;
}

.grid-item-number-data:hover {
  cursor: pointer;
  color: #2dca71;
}

.grid-item-images {
  display: flex;
}

.grid-item-image-container {
  position: relative; 
  height: 80px; 
  width: 20%;
}

.image-quantity {
  position: absolute;
  /* top: 50%; 
  left: 50%;  */
  top: 10%;
  right: -25%;
  transform: translate(-50%, -50%);
  border: 1px darkorange;
}

.circle-quantity {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: gold;
  font-size: 14px;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media(max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px 0px;
  }
  .grid-item-number { grid-column: 1 / 2; }
  .grid-item-date { grid-column: 2 / 4; }
  .grid-item-value { grid-column: 4 / 5; }
  .grid-item-status { grid-column: 5 / 6; }

  .grid-item-images {
    display: none;
  }

  .grid-item-date {
    text-align: center;
  }
}