.grid-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-gap: 2.6em;
    margin-top: 40px;
}

.grid-content-card {
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.card-icon {
    padding: .9rem;
}

.card-option-body {
    border: 1px solid #d6d4d4;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

